* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;

}



/* header part */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px 50px 226px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.btn-primary {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    padding: 18px 35px;
    border: 0;
}

.nav-tittle {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.text-primary {
    color: #FD6E0A;
    font-size: 45px;
    font-weight: 800;
}

.banner {
    padding: 0 30px 0 223px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-img {
    width: 584px;
    height: 676px;
}

.banner-content {
    max-width: 585px;
}

.banner-tone {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner-ttwo {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-pragraph {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.b-b-one {
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 19px 17px 18px 51px;

}

.b-b-two {
    color: #FD6E0Aff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FFF8F3;
    border: 1px solid #FD6E0A;
    padding: 19px 17px 18px 51px;
    margin-left: 30px;
}

/* main part */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 156px;
    margin: 130px 0;
    text-align: center;
}

.about-tittle {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.about-des {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-tittle {
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}

.info-des {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

/* section what */
.what {
    margin-top: 130px;
    text-align: center;
}

.what-tittle {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.what-des {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 120px 50px;
}

.skill-container {
    display: flex;
    gap: 24px;


}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    text-align: left;
    padding: 30px;
}

.skill img {
    max-width: 44px;
    max-height: 44px;
}

.skill-tittle {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 20px;
}

.skill-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    max-width: 201px;
}

/* resume section start */
.resume-tittle {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 113px;
}

.resume-container {
    display: flex;
    gap: 71px;
}

.resume-sub-tittle {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-info-tittle {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}

.resume-info-sub-tittle {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
}

.resume-info-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.download-cv {
    margin-top: 50px;
    margin-bottom: 113px;
    text-align: center;
}

/* footer part start */
footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    gap: 117px;
}

.connect,
.message {
    width: 50%;
    text-align: left;
}

.connect-tittle {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.connect-des {
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 20px 0 30px;
}

.social-media>a>img {
    margin-right: 24px;
}

.message-tittle {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.form {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: #FFF;
    width: 461px;
    height: 64px;
    border: 0;
    padding-left: 30px;
    margin-bottom: 24px;
}

.textarea {
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 461px;
    height: 180px;
    padding-top: 18px;
    padding-left: 30px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

.b-submit {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 39px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
}